* {
  box-sizing: border-box;
}

html {
  background: #efefef;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}

h1 {text-align: center;}

@-webkit-keyframes loaderSpins {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes loaderSpins {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/** Pokeball catchRate Change animations **/
@-webkit-keyframes pokeballHasIncreased {
  from {color: green;transform: scale(1.5)}
  to {}
}
@keyframes pokeballHasIncreased {
  from {color: green;transform: scale(1.5)}
  to {}
}
@-webkit-keyframes pokeballHasDecreased {
  from {color: red;transform: scale(1.5)}
  to {color: #000;}
}
@keyframes pokeballHasDecreased {
  from {background: red;transform: scale(1.5)}
  to {color: #000;}
}

.container {
  border: 1px solid #ccc;
  margin: 0 auto;
  max-width: 600px;
  padding: 0.5em;
  width: 100%;

  position: relative;
}

/** Loader **/
.loading-pane {
  height: 15em;
  width: 100%;
  display: table;
}
.loading-message {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.spinner-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.spinner {
  height: 15em;
  width: 15em;
  margin: 0 auto;

  border-radius: 50%;
  opacity: 0.5;

  background: #ff4747; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff4747 0%, #ff6060 46%, #000000 47%, #000000 54%, #ffffff 55%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4747), color-stop(46%,#ff6060), color-stop(47%,#000000), color-stop(54%,#000000), color-stop(55%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff4747 0%,#ff6060 46%,#000000 47%,#000000 54%,#ffffff 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff4747 0%,#ff6060 46%,#000000 47%,#000000 54%,#ffffff 55%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff4747 0%,#ff6060 46%,#000000 47%,#000000 54%,#ffffff 55%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff4747 0%,#ff6060 46%,#000000 47%,#000000 54%,#ffffff 55%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4747', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  -webkit-animation: loaderSpins 1s linear infinite;
  animation: loaderSpins 1s linear infinite;
}
.spinner:after {
  content: ' ';

  height: 3em;
  width: 3em;
  border-radius: 50%;

  position: absolute;
  top: 6em;
  left: 6em;

  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 48%, #000000 49%, #000000 49%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(48%,#ffffff), color-stop(49%,#000000), color-stop(49%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 48%,#000000 49%,#000000 49%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 48%,#000000 49%,#000000 49%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 48%,#000000 49%,#000000 49%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 48%,#000000 49%,#000000 49%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/** Pokemon **/
.battle-pokemon {
  border: 1px solid #ccc;
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}
.wild-pokemon {
  text-align: right;
}
.selectedWildPokemon {
  text-align: right;
}
.selectedWildPokemon img {
  max-height: 5em;
}
.range-current-hp {
  -webkit-appearance: initial;
  height: 0.5em;
  background: green;
}
.range-current-hp.range-medium {
  background: yellow;
}
.range-current-hp.range-low {
  background: red;
}

/** Battle Attributes **/
.battle-attributes {
  border-bottom: 1px solid #848484;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.battle-attribute {
  display: inline-block;
}
.battle-attribute.battle-attribute-count {
}
.battle-attribute label {
  border: 1px solid #ccc;
  display: block;
  padding: 0.5em;
  text-align: center;
}
.battle-attribute .ember-checkbox {display: none;}
.battle-attribute .ember-checkbox + label {cursor: pointer}
.battle-attribute .ember-checkbox:checked + label,
.battle-attribute.battle-attribute-count label {
  background: rgb(29, 130, 160);
  color: #efefef;
}

/** Pokeball list **/
.pokeball-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  transition: all .5s ease;
}
.pokeball-list .pokeball {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  min-width: 5em;
  vertical-align: top;
}
.pokeball-list .pokeball.hasIncreased .catchRate {
  -webkit-animation: pokeballHasIncreased 1s;
  animation: pokeballHasIncreased 1s;
}
.pokeball-list .pokeball.hasDecreased .catchRate {
  -webkit-animation: pokeballHasDecreased 1s;
  animation: pokeballHasDecreased 1s;
}
.pokeball-list .pokeball .pokeball-name {
  font-size: 0.8em;
}

/** Pokeball Sprites **/
.pokeball-icon {

  height: 40px;
  width: 42px;
  display: block;
  margin: 0 auto;
}
/* TODO: Not have to override an inline style (important bad :(  ) */
.pokeball-icon-1 {background-position: -0 0 !important;}
.pokeball-icon-2 {background-position: -50px 0 !important;;}
.pokeball-icon-3 {background-position: -98px 0 !important;;}
.pokeball-icon-4 {background-position: -150px 0 !important;;}
.pokeball-icon-5 {background-position: -198px 0 !important;;}
.pokeball-icon-6 {background-position: 0 -50px !important;;}
.pokeball-icon-7 {background-position: -50px -50px !important;;}
.pokeball-icon-8 {background-position: -98px -50px !important;;}
.pokeball-icon-9 {background-position: -150px -50px !important;;}
.pokeball-icon-10 {background-position: -198px -50px !important;;}
.pokeball-icon-11 {background-position: 0 -99px !important;;}
.pokeball-icon-12 {background-position: -50px -99px !important;;}
.pokeball-icon-13 {background-position: -98px -99px !important;;}
.pokeball-icon-14 {background-position: -150px -99px !important;;}
.pokeball-icon-15 {background-position: -198px -99px !important;;}
.pokeball-icon-16 {background-position: 0 -148px !important;;}
.pokeball-icon-17 {background-position: -50px -148px !important;;}
.pokeball-icon-18 {background-position: -98px -148px !important;;}
.pokeball-icon-19 {background-position: -150px -148px !important;;}
.pokeball-icon-20 {background-position: -198px -148px !important;;}
.pokeball-icon-21 {background-position: 0 -198px !important;;}
.pokeball-icon-22 {background-position: -50px -198px !important;;}
.pokeball-icon-23 {background-position: -98px -198px !important;;}

.about {
  border-top: 1px solid #000;
}
.about .gravatar {
  border-radius: 50%;
  padding: 0.5em;
  vertical-align:middle;
}
.about-content {
  max-width: 49%;
  display: inline-block;
  padding: 0 1em;
  vertical-align:middle;
}
.about .projects {
  vertical-align: top;
  list-style: none;
}
.about .projects li {
  display: inline-block;
  width: 32%;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 400px) {
  .battle-pokemon {
    padding: 0.5em;
    text-align: center;
    width: 100%;
  }
}
