* {
    box-sizing: border-box;
}

html {
    background: #efefef;
}

.container {
    border: 1px solid #fff;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.battle-details {
    margin-left: 35%;
    text-align: right;
    width: 65%;
}

.range-current-hp {
    -webkit-appearance: initial;
    height: 0.5em;
    background: green;
}

.range-current-hp.range-medium {
    background: yellow;
}

.range-current-hp.range-low {
    background: red;
}

.battle-attributes {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.pokeball-list {
    padding: 0;
    text-align: center;
}

.pokeball-list .pokeball {
    display: inline-block;
    padding: 0.5em;
    vertical-align: top;
    width: 24%;
}