<div class="about">
    <div class="about-content">
        <img class="gravatar" src="http://www.gravatar.com/avatar/ebc665be7acc34b9f4aaa990f5607401.png?s=75" />

        <p>Hi, I'm <a href="http://theirondeveloper.com/">Tyler Stark</a>, and this my small pokemon side project!</p>
        <p>If your interested in making this better, the source code can be found here: <a href="https://github.com/TheIronDeveloper/pokemon-catch-rate/" class="github-icon">&nbsp;</a></p>
        <p>If you liked this project, please feel free to check out a few of my other projects as well! Thanks! :)</p>
    </div>
    <ul class="projects">
        <li><a href="http://www.pokechecklist.com">PokeChecklist</a></li>
        <li><a href="http://www.pokewondertrade.com/">My first WonderTrade Experiment</a></li>
        <li><a href="http://www.wondertradeanalytics.com">WonderTrade<br/> Analytics</a></li>
    </ul>
</div>
